@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url("../img/109083441_p1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 70%;
}

@media (max-width: 576px) {
  #hero {
    background-image: url("../img/109083441_p1.jpg");
    background-position: center;
    background-position: bottom;
  }
}
